{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% include '/partials/header.twig.html.twig' %}
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/adrienforce/Developer/Formation PHP/OpenClassRooms/OC-P13-Adrien-Force/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/Users/adrienforce/Developer/Formation PHP/OpenClassRooms/OC-P13-Adrien-Force/templates/home/index.html.twig</code></li>
    </ul>
</div>
    {% include '/partials/footer.twig.html.twig' %}
{% endblock %}
