<div class="infos-top">
    <div class="infos-top-left">
        <div class="infos-top-text-wrapper">
            <h1> NOTRE CONVICTION </h1>
            <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique</p>
        </div>
    </div>
    <img class="infos-top-right" src="{{ asset('images/branch.png') }}" alt="Symfony!">

</div>
<div class="infos-bottom">
    <img class="infos-bottom-left" src="{{ asset('images/trashbag.png') }}" alt="Symfony!">
    <div class="infos-bottom-right">
        <div class="infos-bottom-text-wrapper">
            <h1> NOS VALEURS </h1>
            <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.
                Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.
                Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
        </div>
    </div>

</div>
