<div class="welcome-block">
        <div class="welcome-left">
                <div class="welcome-text-wrapper">
                <h1> Bienvenue</h1>
                <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
                <br>
                <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
                </div>
        </div>
        <img class="welcome-right" src="{{ asset('images/welcome.png') }}" alt="Symfony!" />
</div>
