{% extends 'base.html.twig' %}

{% block title %}Order Page{% endblock %}

{% block body %}

    {% include '/partials/header.twig.html.twig' %}
    <div class="order-page">

        <div class="my-account">
            <h1> Mon compte </h1>

            <div class="account-block">
                <p>
                    Il semble que vous vous soyez perdu. <br>
                    <a href="/home" class="main-button"> Retourner à l'accueil </a>
                </p>
            </div>
        </div>

    </div>
    {% include '/partials/footer.twig.html.twig' %}
{% endblock %}
